* {
  width:100%;
  box-sizing: border-box;
  font-family:'Open Sans', Arial, sans-serif;
  font-weight:300;
}

body {
  background:#f3dfc1;
  margin:0;
}

.grid {

}

/*Opening Page Styles*/

.opening-page {
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  height:100vh;
  padding:75px;
}

.logo {
  text-align:center;
}

.logo h1 {
  font-size:200px;
  transform:rotate(-15deg);
  font-weight:normal;
  margin:0 0 30px 0;
  font-family: 'Permanent Marker', cursive, sans-serif;
  color:#160f29;
}

.cta {
  margin:0 auto;
  width:300px;
}

button {
  background:#368f8b;
  border:none;
  padding:10px;
  margin:0 auto;
  font-size:35px;
  font-variant: small-caps;
  color:#f3dfc1;
  outline:none;
}

.info {
  text-align:center;
  font-size:30px;
  text-transform:uppercase;
  letter-spacing:1px;
  color:#368f8b;
}


/*Game Space Styles*/

.game {

}

.game-top-row::after {
  display:block;
  clear:both;
  content:"";
}

.players-turn p {
  width:50%;
  float:left;
  font-size:24px;
  color:#d3b6af;
  font-family: 'Permanent Marker', cursive, sans-serif;
  text-align:left;
  padding:0 0 0 10px;
  margin:10px 0;
}

.player-number {
  font-size:24px;
  color:#d3b6af;
  font-family: 'Permanent Marker', cursive, sans-serif;
}

.new-game p {
  width:50%;
  float:left;
  font-size:24px;
  color:#368f8b;
  font-family: 'Permanent Marker', cursive, sans-serif;
  text-align:right;
  padding:0 10px 0 0;
  margin:10px 0;
}

.rollable-dice {
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-around;
  align-items:center;
  width:85%;
  margin:0 auto;
  min-height:175px;
}

.rolled-die-imgs {
  max-width:125px;
  padding:0 5px;
}

.clicked {
  opacity: 0.4;
}

.roll-cta {
  margin:0 auto;
  width:200px;
}

button[name="roll"] {
  font-size:25px;
}

.scorecards::after {
  clear:both;
  content:"";
  display:block;
}

.player-scorecard-wrapper {
  width:50%;
  float:left;
}

.scorecard {
  width:90%;
  min-height:250px;
  margin:0 auto;
  text-align:center;
  background:#584d56;
}

.scorecard h3 {
  font-family: 'Permanent Marker', cursive, sans-serif;
  font-size:30px;
  color:#d3b6af;
  text-decoration:underline;
  padding-top:15px;
}

.upper-score,
.lower-score {
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  padding:0 20px;
}

.score-die-imgs {
  max-width:50px;
  padding:0 5px;
}

.scorecard-score {
  color:#d3b6af;
  font-size:14px;
  min-height:30px;
}

/*Results Page Styles*/

.results-page {
  text-align:center;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  height:100vh;
  padding:75px;
}

.results-page h1 {
  font-weight:normal;
  font-size:100px;
  line-height:100px;
  font-family: 'Permanent Marker', cursive, sans-serif;
  color:#160f29;
  margin:20px 0;
}

.score::after {
  clear:both;
  content:"";
  display:block;
}

.score p {
  font-family: 'Permanent Marker', cursive, sans-serif;
  color:#d3b6af;
  font-size:35px;
  float:left;
  width:50%;
  padding:0 40px;
  margin:0;
}

.score p:first-child {
  text-align:right;
}

.score p:last-child {
  text-align:left;
}

.final-score {
  font-size:75px;
  padding:0;
  margin:0;
}

/*Other Styles*/

.hidden {
  display:none;
}
